Repository actix/actix-extras, pull requests merged in 2020-10, with the labels that each got.

#111 Unify homepage/repository urls in Cargo manifests
  actix-identity/Cargo.toml
  actix-protobuf/Cargo.toml
  actix-redis/Cargo.toml
  actix-session/Cargo.toml
  actix-web-httpauth/Cargo.toml
Labels: C-documentation

#113 split up cors lib and fix doc links
  actix-cors/Cargo.toml
  actix-cors/src/all_or_some.rs
  actix-cors/src/builder.rs
  actix-cors/src/error.rs
  actix-cors/src/inner.rs
  actix-cors/src/lib.rs
  actix-cors/src/middleware.rs
  actix-cors/tests/tests.rs
Labels: P-cors, semver-norelease

#119 CORS builder rework
  actix-cors/CHANGES.md
  actix-cors/Cargo.toml
  actix-cors/examples/cors.rs
  actix-cors/src/all_or_some.rs
  actix-cors/src/builder.rs
  actix-cors/src/error.rs
  actix-cors/src/inner.rs
  actix-cors/src/lib.rs
  actix-cors/src/middleware.rs
  actix-cors/tests/tests.rs
Labels: P-cors, semver-major

#120 cors origin validator function receives origin as first parameter
  actix-cors/CHANGES.md
  actix-cors/examples/cors.rs
  actix-cors/src/builder.rs
  actix-cors/src/inner.rs
  actix-cors/src/lib.rs
  actix-cors/src/middleware.rs
  actix-cors/tests/tests.rs
Labels: P-cors, semver-major
