Repository actix/actix-extras, pull requests merged in 2020-09, with the labels that each got.

#105 Update Session::set_session to take IntoIterator
  actix-redis/src/session.rs
  actix-session/CHANGES.md
  actix-session/src/cookie.rs
  actix-session/src/lib.rs
Labels: P-session, semver-norelease

#93 actix-cors: Create `allowed_origin_fn` builder method
  actix-cors/CHANGES.md
  actix-cors/src/lib.rs
Labels: P-cors, semver-minor

#106 CORS: Take TryInto instead of TryFrom
  actix-cors/CHANGES.md
  actix-cors/src/lib.rs
Labels: P-cors, semver-patch
