Repository actix/actix-extras, pull requests merged in 2020-11, with the labels that each got.

#121 Fix allow_any_header setter
  actix-cors/CHANGES.md
  actix-cors/src/builder.rs
  actix-cors/tests/tests.rs
Labels: P-cors, semver-patch

#128 fix httpauth extraction error handling in middleware
  Cargo.toml
  actix-web-httpauth/CHANGES.md
  actix-web-httpauth/Cargo.toml
  actix-web-httpauth/examples/cors.rs
  actix-web-httpauth/examples/middleware-closure.rs
  actix-web-httpauth/examples/middleware.rs
  actix-web-httpauth/src/middleware.rs
Labels: P-httpauth, semver-patch

#134 address clippy warnings
  actix-redis/src/redis.rs
  actix-redis/src/session.rs
Labels: P-redis, semver-norelease

#135 impl `std::error::Error` for `Error`
  actix-redis/CHANGES.md
  actix-redis/src/lib.rs
Labels: P-redis, semver-patch
