Repository actix/actix-extras, pull requests merged in 2021-12, with the labels that each got.

#209 migrate to actix-web beta 14
  actix-cors/CHANGES.md
  actix-cors/Cargo.toml
  actix-cors/src/builder.rs
  actix-cors/src/error.rs
  actix-cors/src/inner.rs
  actix-cors/src/middleware.rs
  actix-cors/tests/tests.rs
  actix-identity/CHANGES.md
  actix-identity/Cargo.toml
  actix-identity/src/cookie.rs
  actix-identity/src/identity.rs
  actix-identity/src/lib.rs
  actix-identity/src/middleware.rs
  actix-protobuf/CHANGES.md
  actix-protobuf/Cargo.toml
  actix-protobuf/examples/prost-example/Cargo.toml
  actix-protobuf/src/lib.rs
  actix-redis/CHANGES.md
  actix-redis/Cargo.toml
  actix-redis/src/redis.rs
  actix-session/CHANGES.md
  actix-session/Cargo.toml
  actix-session/src/cookie.rs
  actix-session/src/lib.rs
  actix-web-httpauth/CHANGES.md
  actix-web-httpauth/Cargo.toml
  actix-web-httpauth/src/middleware.rs
Labels: P-httpauth, P-redis, P-protobuf, P-cors, P-identity, P-session, semver-major, P-meta

#207 Do not create a session if the session state is empty
  actix-redis/CHANGES.md
  actix-redis/src/session.rs
Labels: P-redis, semver-patch

#213 stop cloning request across service call
  actix-cors/CHANGES.md
  actix-cors/Cargo.toml
  actix-cors/README.md
  actix-cors/examples/cors.rs
  actix-cors/src/middleware.rs
  actix-web-httpauth/Cargo.toml
Labels: P-cors, semver-patch
