Repository actix/actix-extras, pull requests merged in 2021-03, with the labels that each got.

#161 allow session-only cookies
  actix-redis/CHANGES.md
  actix-redis/src/session.rs
  actix-web-httpauth/src/headers/authorization/scheme/basic.rs
Labels: P-redis, semver-minor

#165 simplify ci like actix-web
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/msrv.yml
  .github/workflows/upload-doc.yml
  .github/workflows/windows.yml
  actix-identity/Cargo.toml
  actix-session/src/cookie.rs
  actix-web-httpauth/examples/with-cors.rs
  codecov.yml
Labels: P-meta

#168 refactor identity
  actix-identity/CHANGES.md
  actix-identity/Cargo.toml
  actix-identity/src/cookie.rs
  actix-identity/src/identity.rs
  actix-identity/src/lib.rs
  actix-identity/src/middleware.rs
  actix-redis/CHANGES.md
  actix-session/CHANGES.md
  actix-web-httpauth/CHANGES.md
Labels: P-identity, semver-major

#170 various session api improvements
  actix-redis/examples/authentication.rs
  actix-redis/examples/basic.rs
  actix-redis/src/session.rs
  actix-session/CHANGES.md
  actix-session/Cargo.toml
  actix-session/src/cookie.rs
  actix-session/src/lib.rs
Labels: P-session, semver-major
