Repository actix/actix-extras, pull requests merged in 2022-09, with the labels that each got.

#281 Limitation: custom key from closure
  actix-limitation/CHANGES.md
  actix-limitation/Cargo.toml
  actix-limitation/README.md
  actix-limitation/src/builder.rs
  actix-limitation/src/lib.rs
  actix-limitation/src/middleware.rs
  actix-limitation/tests/tests.rs
Labels: B-semver-major, A-limitation

#284 set same-site attribute when clearing session cookie
  actix-session/CHANGES.md
  actix-session/src/middleware.rs
Labels: A-session, B-semver-patch

#289 Update Cors function documentation to match behaviour
  actix-cors/src/builder.rs
Labels: A-cors, B-semver-patch

#285 Add note for accessing session state in stream.
  actix-session/src/lib.rs
Labels: A-session, B-semver-norelease

#287 Add block_on_origin_mismatch option to middleware
  actix-cors/CHANGES.md
  actix-cors/examples/cors.rs
  actix-cors/src/builder.rs
  actix-cors/src/inner.rs
  actix-cors/src/middleware.rs
  actix-cors/tests/tests.rs
Labels: A-cors, B-semver-minor

#291 CORS origin does not end with /
  actix-cors/src/lib.rs
Labels: A-cors, B-semver-norelease
