Repository actix/actix-extras, pull requests merged in 2022-07, with the labels that each got.

#233 Add a new configuration parameter to refresh the TTL of the session even if unchanged
  actix-cors/src/all_or_some.rs
  actix-limitation/src/lib.rs
  actix-session/CHANGES.md
  actix-session/Cargo.toml
  actix-session/src/config.rs
  actix-session/src/lib.rs
  actix-session/src/middleware.rs
  actix-session/src/storage/cookie.rs
  actix-session/src/storage/interface.rs
  actix-session/src/storage/redis_actor.rs
  actix-session/src/storage/redis_rs.rs
  actix-session/src/storage/session_key.rs
  actix-session/tests/opaque_errors.rs
Labels: A-session, B-semver-major

#246 Rebuild `actix-identity` on top of `actix-session`
  actix-identity/Cargo.toml
  actix-identity/examples/identity.rs
  actix-identity/src/config.rs
  actix-identity/src/cookie.rs
  actix-identity/src/identity.rs
  actix-identity/src/identity_ext.rs
  actix-identity/src/lib.rs
  actix-identity/src/middleware.rs
  actix-identity/tests/integration/fixtures.rs
  actix-identity/tests/integration/integration.rs
  actix-identity/tests/integration/main.rs
  actix-identity/tests/integration/test_app.rs
  actix-session/CHANGES.md
  actix-session/src/lib.rs
  actix-session/src/session.rs
Labels: A-identity, A-session, B-semver-major

#259 trim unnecessary identity deps
  actix-identity/CHANGES.md
  actix-identity/Cargo.toml
  actix-identity/src/middleware.rs
Labels: A-identity, B-semver-patch

#263 [actix-identity] Fix visit deadline
  actix-identity/CHANGES.md
  actix-identity/src/identity.rs
  actix-identity/src/middleware.rs
  actix-identity/tests/integration/integration.rs
Labels: A-identity, B-semver-patch

#260 fix: broken stream when authentication failed
  actix-web-httpauth/CHANGES.md
  actix-web-httpauth/examples/middleware.rs
  actix-web-httpauth/examples/with-cors.rs
  actix-web-httpauth/src/middleware.rs
Labels: A-httpauth, B-semver-major

#249 Return `&str` from `BasicAuth::user_id()` and `BasicAuth::password()`
  actix-web-httpauth/CHANGES.md
  actix-web-httpauth/src/extractors/basic.rs
Labels: A-httpauth, B-semver-major

#265 fix: bad interaction between session state changes and renewal
  actix-session/CHANGES.md
  actix-session/src/session.rs
  actix-session/tests/session.rs
Labels: A-session, B-semver-patch

#270 adopt actix-settings crate
  .gitignore
  Cargo.toml
  README.md
  actix-settings/CHANGES.md
  actix-settings/Cargo.toml
  actix-settings/LICENSE-APACHE
  actix-settings/LICENSE-MIT
  actix-settings/README.md
  actix-settings/examples/actix.rs
  actix-settings/src/actix.rs
  actix-settings/src/core.rs
  actix-settings/src/defaults.toml
  actix-settings/src/error.rs
  actix-settings/src/lib.rs
Labels: B-semver-major, A-settings

#271 document settings crate
  actix-settings/examples/actix.rs
  actix-settings/src/defaults.toml
  actix-settings/src/error.rs
  actix-settings/src/lib.rs
  actix-settings/src/parse.rs
  actix-settings/src/settings/address.rs
  actix-settings/src/settings/backlog.rs
  actix-settings/src/settings/keep_alive.rs
  actix-settings/src/settings/max_connection_rate.rs
  actix-settings/src/settings/max_connections.rs
  actix-settings/src/settings/mod.rs
  actix-settings/src/settings/mode.rs
  actix-settings/src/settings/num_workers.rs
  actix-settings/src/settings/timeout.rs
  actix-settings/src/settings/tls.rs
Labels: A-session, B-semver-patch
