Repository actix/actix-extras, pull requests merged in 2022-03, with the labels that each got.

#212 Rework actix session
  .github/workflows/ci.yml
  Cargo.toml
  actix-redis/CHANGES.md
  actix-redis/Cargo.toml
  actix-redis/README.md
  actix-redis/src/lib.rs
  actix-redis/src/session.rs
  actix-session/CHANGES.md
  actix-session/Cargo.toml
  actix-session/README.md
  actix-session/examples/authentication.rs
  actix-session/examples/basic.rs
  actix-session/src/_error.rs
  actix-session/src/cookie.rs
  actix-session/src/lib.rs
  actix-session/src/middleware.rs
  actix-session/src/session.rs
  actix-session/src/session_ext.rs
  actix-session/src/storage/cookie.rs
  actix-session/src/storage/interface.rs
  actix-session/src/storage/mod.rs
  actix-session/src/storage/redis_actor.rs
  actix-session/src/storage/redis_rs.rs
  actix-session/src/storage/session_key.rs
  actix-session/src/storage/utils.rs
  actix-session/tests/middleware.rs
  actix-session/tests/session.rs
Labels: A-redis, A-session, B-semver-major

#226 allow OPTIONS requests without request-method header
  actix-cors/CHANGES.md
  actix-cors/Cargo.toml
  actix-cors/src/inner.rs
  actix-cors/src/middleware.rs
  actix-cors/tests/tests.rs
Labels: A-cors, B-semver-patch

#235 [actix-session/redis-rs] Catch server-driven disconnections and prevent a user-visible issue via a retry
  actix-session/CHANGES.md
  actix-session/src/storage/redis_rs.rs
Labels: A-session, B-semver-patch
