Repository actix/actix-extras, pull requests merged in 2022-08, with the labels that each got.

#275 rename AtError => Error
  actix-settings/CHANGES.md
  actix-settings/src/error.rs
  actix-settings/src/lib.rs
  actix-settings/src/parse.rs
  actix-settings/src/settings/address.rs
  actix-settings/src/settings/backlog.rs
  actix-settings/src/settings/keep_alive.rs
  actix-settings/src/settings/max_connection_rate.rs
  actix-settings/src/settings/max_connections.rs
  actix-settings/src/settings/mode.rs
  actix-settings/src/settings/num_workers.rs
  actix-settings/src/settings/timeout.rs
Labels: B-semver-major, A-settings

#279 update to prost 0.11
  actix-protobuf/CHANGES.md
  actix-protobuf/Cargo.toml
  actix-protobuf/src/lib.rs
Labels: A-protobuf, B-semver-major

#280 Limitation: display and handle client error
  actix-limitation/CHANGES.md
  actix-limitation/src/middleware.rs
Labels: B-semver-patch, A-limitation
