Repository actix/actix-extras, pull requests merged in 2025-01, with the labels that each got.

#486 feat: added PartialEq to Cors
  .github/workflows/lint.yml
  actix-cors/CHANGES.md
  actix-cors/src/builder.rs
  actix-cors/src/inner.rs
Labels: A-cors, B-semver-minor

#459 implement contains_key, update, update_or
  actix-session/CHANGES.md
  actix-session/src/session.rs
  actix-session/tests/session.rs
  justfile
Labels: A-session, B-semver-minor

#496 Improve logout example
  actix-identity/src/lib.rs
Labels: A-identity, B-semver-norelease
